Falta poder crear univercidad si no esta la tuya
<h2>Editar Usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :name, autofocus: true, required:true %>
  </div>

  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :last_name, autofocus: true, required:true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, disabled: true%>
  </div>
</br>
  <div class="field">
     <% @universidades=Univercity.all%>

     <%= f.collection_select :Univercity_id, @universidades, :id, :nombre, include_blank: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :contraseña %> <i>(Deje el campo en blanco si no desea modificar su contraseña)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres minimos</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmar_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :conseña_actual %> <i>(Necesitamos tu actual contraseña para realizar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3>desea cancelar su cuenta</h3>

<p>No estas contento? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete %></p>

<%= link_to "Volver", :back %>
