<h1> Respuesta: <%= @respuesta.descripcion %> </h1>
<% if user_signed_in? %>
  <h3> Comentarios  </h3>
  <table class="table">
    <tr>
      <th> Comentarios </th>
      <th> Nombre </th>
    </tr>
    <% @comentariosr.each do |a| %>
      <tr>
        <td><%=a.descripcion%></td>
        <td><%=a.User.email %></td>
        <td><% if a.User_id == current_user.id %>
          <%= link_to "eliminar",comentarior_eliminar_path(:cid=>a.id, :id=> @respuesta.id) , class: 'btn btn-info btn-sm' %>
        <% end %> </td>
          <td> <button type="button" class="btn btn-sm">
            <%= link_to_if current_user.puntos >= Permit.find(5).puntos && current_user.id != a.User_id, "denunciar", denunciacr_nuevo_path(:cid=>a.id, :rid=>@respuesta.id)%>
          </button>
          </td>
      </tr>
    <% end %>
  </table>
  <% if current_user.puntos >= Permit.find(3).puntos %>
    <%= form_for :Comer , url:comentarior_crear_path do |r| %>
      <div class="row">
        <div class="col-md-6">
            <%= hidden_field_tag :id, @respuesta.id %>
            <%= r.text_area :descripcion, class: 'form-control', label: 'Comentario', placeholder: 'ingrese un comentario', required:true %>
        </div>
      </div>
      <div>
        <%= r.submit "Comentar", class: 'btn btn-primary' %>
      </div>
      <% end %>
    <% end %>
      <%= link_to "Volver", preguntar_lapregunta_path(:id=>@respuesta.Question.id) %>
  <% else %>
  <table class="table">
    <tr>
      <th> Comentarios </th>
      <th> Nombre </th>
      <th> Apellido </th>
    </tr>
    <% @comentariosr.each do |a| %>
      <tr>
        <td><%=a.descripcion%></td>
        <td><%=a.User.name %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Volver", preguntar_lapregunta_path(:id=>@respuesta.Question.id) %>
<% end %>
