
<% if user_signed_in?  %>
<div class="row">
	<div class="col-xs-4">
			<h3> Quieres realizar una nueva pregunta </h3>
				<%= link_to "Preguntar", preguntar_nuevo_path, class: 'btn btn-info btn-sm' %>
				<% if current_user.puntos > 300 %>
				<%= link_to "Crear Etiqueta", new_label_path, remote: true, class: 'btn btn-info btn-sm' %>
				<% end %>
				<% if current_user.puntos > 500 %>
				<%= link_to "Crear Universidad", new_univercity_path,class: 'btn btn-info btn-sm' %>
				<% end %>
				<%= form_tag(root_path, method: :get) do %>
                <%= text_field_tag :query %>
                <%= submit_tag "Buscar Pregunta" %>
        <% end %>
 	</div>

</div>
<div>
<ul class="nav nav-tabs" role="tablist">
 <li role="presentation" class="active"><a href="#Rece" aria-controls=" " role="tab" data-toggle="tab">PreguntasMasRecientes</a></li>
 <li role="presentation"><a href="#MiFacultad" aria-controls=" " role="tab" data-toggle="tab">MiUnivercidad</a></li>
 <li role="presentation"><a href="#MenosR" aria-controls=" " role="tab" data-toggle="tab">MenosRespuesta</a></li>
 <li role="presentation"><a href="#Mispreguntas" aria-controls=" " role="tab" data-toggle="tab">MisPreguntas</a></li>
</ul>
	<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Rece">
				<h1> Ultimas Preguntas </h1>
				<div class="col-xs-8">
					<table class= table>
					<tr>
						<th>Nombre de Usuario</th>
						<th>Titulo</th>
						<th>Fecha de Creacion</th>
					</tr>
					<% @question.each do |p| %>
						<tr>
							<td><%=link_to p.User.name, educanding_miperfil_path(:id=>p.User.id)%></td>
							<td><%= link_to p.titulo, preguntar_lapregunta_path(:id=> p.id)%></td>
							<td><%=p.created_at%></td>
						</tr>
					<% end %>
					</table >
				</div>
		</div>
    <div role="tabpanel" class="tab-pane" id="MiFacultad">
			<h1> Preguntas de MiUniversidad </h1>
			<div class="col-xs-8">
				<table class= table>
				<tr>
					<th>Nombre de Usuario</th>
					<th>Titulo</th>
					<th>Fecha de Creacion</th>
				</tr>
				<%if @questionMiUni != nil %>
					<% @questionMiUni.each do |p| %>
						<tr>
							<td><%=link_to p.User.name, educanding_miperfil_path(:id=>p.User.id)%></td>
							<td><%= link_to p.titulo, preguntar_lapregunta_path(:id=> p.id)%></td>
							<td><%=p.created_at%></td>
						</tr>

					<% end %>
				<% end %>
				</table >
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="MenosR">
			<h1> Preguntas con menos respuestas </h1>
			<div class="col-xs-8">
				<table class="table">
					<tr>
						<th>Nombre de Usuario</th>
						<th>Titulo </th>
						<th>Fecha de Creacion</th>
					</tr>
					<% @question.each do |p| %>
						<% if Answer.where(Question_id:p.id).count < 3 || Answer.where(Question_id:p.id).count == 0 %>
							<tr>
							 <td><%=link_to p.User.name, educanding_miperfil_path(:id=>p.User.id)%></td>
							 <td><%=link_to p.titulo, preguntar_lapregunta_path(:id=> p.id)%></td>
							 <td><%=p.created_at%></td>
							</tr>
						<% end %>
					<% end %>
				</table>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="Mispreguntas">
			<h1> Mis Preguntas </h1>
			<div class="col-xs-8">
				<table class= table>
				<tr>
					<th>Nombre de Usuario</th>
					<th>Titulo</th>
					<th>Fecha de Creacion</th>
				</tr>
				<% @question.each do |p| %>
					<%if p.User_id == current_User.id %>
						<tr>
							<td><%=link_to p.User.name, educanding_miperfil_path(:id=>p.User.id)%></td>
							<td><%= link_to p.titulo, preguntar_lapregunta_path(:id=> p.id)%></td>
							<td><%=p.created_at%></td>
						</tr>
					<% end %>
				<% end %>
				</table >
			</div>
	</div>
</div>


<% else %>
<h1> Ultimas Preguntas </h1>
	<div class="col-xs-8">
		<table class= table>
		<tr>
			<th>Nombre de Usuario</th>
			<th>Titulo</th>
			<th>Fecha de Creacion</th>
		</tr>
		<% @question.each do |p| %>

			<tr>
				<td><%=p.User.name%></td>
				<td><%= link_to p.titulo, preguntar_lapregunta_path(:id=> p.id)%></td>
				<td><%=p.created_at%></td>
			</tr>

		<% end %>
		</table >
	</div>
<% end %>
