<% if user_signed_in? %>
  <table class = "table">
  <tr>
  <th><h1> Titulo : <%= @pregunta.titulo %> </h1> </th><th> <h4>usuario: <%= @pregunta.User.email%></h4></th>
  </tr>
  </table>
  <h3> Pregunta:</br> <%= @pregunta.descripcion %> </h3>

  <h3>Comentarios</h3>
  <table class="table">
    <tr>
      <th> Comentarios </th>
      <th> Nombre </th>
    </tr>
    <% @comentariosp.each do |a| %>
      <tr>
        <td><%=a.descripcion%></td>
        <td><%=a.User.name %></td>
        <td><% if a.User_id == current_user.id %>
          <%= link_to "eliminar",comentariop_eliminar_path(:cid=>a.id, :id=> @pregunta.id) , class: 'btn btn-info btn-sm' %>
        <% end %> </td>
      </tr>
    <% end %>
  </table>
  <%= form_for :Comep , url:comentariop_crear_path do |r| %>
    <div class="row">
      <div class="col-md-6">
          <%= hidden_field_tag :id, @pregunta.id %>
          <%= r.text_area :descripcion, class: 'form-control', label: 'Comentario', placeholder: 'ingrese un comentario', required:true %>
      </div>
    </div>
    <div>
      <%= r.submit "Comentar", class: 'btn btn-primary' %>
    </div>
    <% end %>
<% else %>
<h3> Titulo : <%= @pregunta.titulo %> </h3>
<h3> Descripcion : <%= @pregunta.descripcion %> </h3>
<table class="table">
  <tr>
    <th> Comentarios </th>
    <th> Nombre </th>
  </tr>
  <% @comentariosp.each do |a| %>
    <tr>
      <td><%=a.descripcion%></td>
      <td><%=a.User.name %></td>
    </tr>
  <% end %>
</table>
<% end %>
