<h1> Titulo : <%= @pregunta.titulo %> </h1>
<h3> Pregunta:</br> <%= @pregunta.descripcion %> </h3>
<% if user_signed_in? %>
  <h3>Comentarios</h3>
  <table class="table">
    <tr>
      <th> Comentarios </th>
      <th> Nombre </th>
    </tr>
    <% @comentariosp.each do |a| %>
      <tr>
        <td><%=a.descripcion%></td>
        <td><%=a.User.name %></td>
        <td><% if a.User_id == current_user.id %>
          <%= link_to "eliminar",comentariop_eliminar_path(:cid=>a.id, :id=> @pregunta.id) , class: 'btn btn-info btn-sm' %>
        <% end %> </td>
        <td> <%= link_to "denunciar", denunciacp_nuevo_path(:cid=>a.id, :pid=>@pregunta.id), class: 'btn btn-info btn-sm' %>
      </tr>
    <% end %>
  </table>
  <% if current_user.puntos > 20 %>
    <%= form_for :Comep , url:comentariop_crear_path do |r| %>
      <div class="row">
        <div class="col-md-6">
            <%= hidden_field_tag :id, @pregunta.id %>
            <%= r.text_area :descripcion, class: 'form-control', label: 'Comentario', placeholder: 'ingrese un comentario', required:true %>
        </div>
      </div>
      <div>
        <%= r.submit "Comentar", class: 'btn btn-primary' %>
      </div>
      <% end %>
    <% end %>
    <%= link_to "Volver", preguntar_lapregunta_path(:id=>@pregunta.id) %>
<% else %>
<table class="table">
  <tr>
    <th> Comentarios </th>
    <th> Nombre </th>
  </tr>
  <% @comentariosp.each do |a| %>
    <tr>
      <td><%=a.descripcion%></td>
      <td><%=a.User.name %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Volver", preguntar_lapregunta_path(:id=>@pregunta.id) %>
<% end %>
