<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <title>Educanding</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="p-3 mb-2 bg-info text-white">
      <div class="container">

          <div class="imagen_logo">
            <%= image_tag "educanding_azul.png", :title => "Educanding"%>
          </div>
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: 'btn btn-info btn-sm' %>|<%= link_to "MiPerfil",educanding_miperfil_path(:id=> current_user.id),class: 'btn btn-info btn-sm'%>
            <% if current_user.puntos > 1000 %>
              <%=  link_to "Denuncias",educanding_denuncias_path,class: 'btn btn-info btn-sm'%>
            <% end %>
          <% else %>
            <%= link_to "Registrarce", new_user_registration_path, class: 'btn btn-info btn-sm'  %> |
            <%= link_to "Iniciar Sesion", new_user_session_path, class: 'btn btn-info btn-sm'  %>
          <% end %>
      </div>
  </div>
  </head>
  <body>
    <div class="container">
    <span class="oi oi-thumb-down"></span>
    <span class="oi oi-thumb-down" title="thumb-down" aria-hidden="true"></span>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
