<div class="container">
  <h1> Titulo: <%= @pregunta.titulo %> </h1>
  <h3> Descripcion: <%= @pregunta.descripcion %></h3>
  <h4> Comentario: <%= @comentario.descripcion %> </h4>
	<%= form_for :denuncia , url:denunciacp_denunciar_path do |p| %>

    <div class="row">
      <div class="col-md-6">
        <%= p.label :Motivo_de_denuncia %>
          <%= hidden_field_tag :cid, @comentario.id %>
          <%= hidden_field_tag :pid, @pregunta.id%>
          <%= p.text_field :motivo, class: 'form-control', label: 'motivo', placeholder: 'ingrese el motivo de denuncia', required:true %>
        </div>
      </div>

  		<%= p.submit "Denuncia", class: 'btn btn-primary' %></br>
      <%= link_to "Volver", comentariop_index_path(:id=>@pregunta.id) %>
  	</div>
<% end %>
