<!--primera parte del if es para los usuarios registrados!!-->
<% if user_signed_in? %>
  <title> Preguntar </title>
  <h3> Ususario: <%= @pre.User.name %> <%=  @pre.User.last_name %> </h3>
  <h3> Pregunta: <%= @pre.titulo %> </h3>
  <div class="col-xs-10">
  <table class="table">
    <tr>
      <div class='row'>
      <div class="col">
        <th><p><%= @pre.descripcion %></p></th>
      </div>

        <th><%= link_to "Comentarios", comentariop_index_path(:id=> @pre.id) %></th>
        <div class="col">
          <th>
            <button type="button" class="btn btn-">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <%= link_to_if VoteQ.where(User_id: current_user.id,Question_id: @pre.id).empty? && @pre.User_id != current_user.id , " positivo "   ,voteqs_positivo_path(:id=> @pre.id)  %>
              <%= VoteQ.where(positivo: true, Question_id: @pre.id).count%>
            </button>
            <button type="button" class="btn btn-succes">
              <span class="glyphicon glyphicon-thumbs-down"></span>
              <%= link_to_if VoteQ.where(User_id: current_user.id,Question_id: @pre.id).empty? && @pre.User_id != current_user.id ,"negativos " ,voteqs_negativo_path(:id=> @pre.id)  %>
              <%= VoteQ.where(positivo: false, Question_id:@pre.id).count%>
            </button>
          </th>
          <th> <% if @pre.User_id == current_user.id %>
  					<%= link_to "eliminar",preguntar_eliminar_path(:id=>@pre.id) , class: 'btn btn-info btn-sm' %>
  				<% end %>
        </th>
        <th>
          <!-- <%= link_to "CrearEtiquete",preguntar_eliminar_path(:id=>@pre.id) , class: 'btn btn-info btn-sm' %>-->
      </th>
    </div>

    </div>
    </tr>
  </table>
  <table class="table">
      <tr>
        <th> Respuestas </th>
        <% if current_user.id == @pre.User.id && @pre.Resc_id == nil %>
          <th> selecionar mejor respuesta </th>
        <% else %>
          <% if @pre.Resc_id != nil %>
            <th>Mejor respuesta</th>
          <% end %>
        <% end %>
        <th> Comentarios</th>
        <th> Respondio: <th>
      </tr>
      <% @resp.each do |a| %>
  			<tr>
  				<td><%=a.descripcion%></td>
          <% if current_user.id == @pre.User.id && @pre.Resc_id == nil %>
            <td><%= link_to "selecionar mejor respuesta", preguntar_mejorrespuesta_path(:id=>@pre.id, :r_id=>a.id) %></td>
            <% else %>
              <% if @pre.Resc_id != nil %>
                <% if a.id == @pre.Resc_id %>
                  <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
                <%else%>
                  <td>          </td>
                <% end %>
              <% end %>
            <% end %>
          <td><%= link_to "Comentarios", comentarior_index_path(:id=> a.id) %></td>
          <td><%=a.User.name%></td>

          <div class="col">
            <th>
              <button type="button" class="btn btn-">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <%= link_to_if VoteAn.where(User_id: current_user.id, Answer_id:a.id).empty? && @pre.User_id != current_user.id," positivo "   ,voteas_positivo_path(:rid=> a.id, :id=> @pre.id)  %>
                <%= VoteAn.where(positivo: true, Answer_id: a.id).count%>
              </button>
              <button type="button" class="btn btn-succes">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                <%= link_to_if VoteAn.where(User_id: current_user.id, Answer_id:a.id).empty? && @pre.User_id != current_user.id,"negativos " ,voteas_negativo_path(:rid=> a.id, :id=> @pre.id)  %>
                <%= VoteAn.where(positivo: false, Answer_id: a.id).count%>
              </button>
            </th>

          </div>
          <td><% if a.User_id == current_user.id %>
  					<%= link_to "eliminar",responder_eliminar_path(:id=>a.id, :pid=> @pre.id) , class: 'btn btn-info btn-sm' %>
  				<% end %> </td>

        </tr>
  		<% end %>
  </table>
  <%= form_for :Responder , url:responder_crear_path do |r| %>
    <div class="row">
      <div class="col-md-6">
          <%= hidden_field_tag :pregun_id, @pre.id %>
          <%= r.text_area :descripcion, class: 'form-control', label: 'Respuesta', placeholder: 'ingrese la respuesta', required:true %>
      </div>
    </div>
    <div>
    	<%= r.submit "Responder", class: 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
<title> Preguntar </title>
<h3> Usuario: <%= @pre.User.name %> <%=  @pre.User.last_name %> </h3>
<h3> Pregunta: <%= @pre.titulo %> </h3>
<table class="table">
  <tr>
    <div class='row'>
    <div class="col">
      <th><p><%= @pre.descripcion %></p></th>
        </div>
        <th><%= link_to "Comentarios", comentariop_index_path(:id=> @pre.id) %></th>
  </div>
  </tr>
</table>
<table class="table">
    <tr>
      <th> Respuestas </th>
      <th> Comentarios</th>
      <th> respondio: <th>
    </tr>
    <% @resp.each do |a| %>
      <tr>
        <td><%=a.descripcion%></td>
        <td><%= link_to "Comentarios", comentarior_index_path(:id=> a.id) %></td>
        <td><%=a.User.name%></td>
      </tr>

    <% end %>
</table>
</div>
<% end %>
