<!--primera parte del if es para los usuarios registrados!!-->
<% if user_signed_in? %>
  <title> Preguntar </title>
  <h3> Ususario: <%= @pre.User.name %> <%=  @pre.User.last_name %> </h3>
  <h3> Pregunta: <%= @pre.titulo %> </h3>
 
  <table class="table">
    <tr>
      <div class='row'>
      <div class="col">
        <th><p><%= @pre.descripcion %></p></th>
      </div>

        <th><%= link_to "Comentarios", comentariop_index_path(:id=> @pre.id) %></th>
        <div class="col">
          <th>
            <button type="button" class="btn btn-">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <%= link_to_if VoteQ.where(User_id: current_user.id, Question_id:@pre.id).empty? ," positivo "   ,voteqs_positivo_path(:id=> @pre.id)  %>
              <%= VoteQ.where(positivo: true).count%>
            </button>
            <button type="button" class="btn btn-succes">
              <span class="glyphicon glyphicon-thumbs-down"></span>
              <%= link_to_if VoteQ.where(User_id: current_user.id, Question_id:@pre.id).empty? ,"negativos " ,voteqs_negativo_path(:id=> @pre.id)  %>
              <%= VoteQ.where(positivo: false).count%>
            </button>
          </th>

    </div>

    </div>
    </tr>
  </table>
  <table class="table">
      <tr>
        <th> Respuestas </th>
        <th> Comentarios</th>
        <th> Respondio: <th>
      </tr>
      <% @resp.each do |a| %>
  			<tr>
  				<td><%=a.descripcion%></td>
          <td><%= link_to "Comentarios", comentarior_index_path(:id=> a.id) %></td>
          <td><%=a.User.name%></td>
        </tr>
  		<% end %>
  </table>
  <%= form_for :Responder , url:responder_crear_path do |r| %>
    <div class="row">
      <div class="col-md-6">
          <%= hidden_field_tag :pregun_id, @pre.id %>
          <%= r.text_area :descripcion, class: 'form-control', label: 'Respuesta', placeholder: 'ingrese la respuesta', required:true %>
      </div>
    </div>
    <div>
    	<%= r.submit "Responder", class: 'btn btn-primary' %>
      <%= link_to "volver ", root_path,class: 'btn btn-primary' %>
    </div>
    <% end %>
<% else %>
<title> Preguntar </title>
<h3> Usuario: <%= @pre.User.name %> <%=  @pre.User.last_name %> </h3>
<h3> Pregunta: <%= @pre.titulo %> </h3>
<table class="table">
  <tr>
    <div class='row'>
    <div class="col">
      <th><p><%= @pre.descripcion %></p></th>
        </div>
        <th><%= link_to "Comentarios", comentariop_index_path(:id=> @pre.id) %></th>
  </div>
  </tr>
</table>
<table class="table">
    <tr>
      <th> Respuestas </th>
      <th> Comentarios</th>
      <th> respondio: <th>
    </tr>
    <% @resp.each do |a| %>
      <tr>
        <td><%=a.descripcion%></td>
        <td><%= link_to "Comentarios", comentarior_index_path(:id=> a.id) %></td>
        <td><%=a.User.name%></td>
      </tr>

    <% end %>
</table>
<div>
  <%= link_to "volver ", root_path,class: 'btn btn-primary' %>
</div>
<% end %>
